*{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  background-image: url("../img/sfondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.block1{
  width: 600px;
  height: 200px;
  background: white;
  clear: both;
  position: absolute;
  left: 20%;
  top: 5%;
}
