*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

body{
  background-color: brown;
}

/* header */
/* block1 */
.block1{
  width: 600px;
  height: 200px;
  background-color: white;
  left:50%;
  top: 5%;
}

/* block2 */
.block2{
  width: 600px;
  height: 25px;
  background-color: darkgrey;
  left:50%;
  top: 5%;
}

/* footer */
/* block3 */
